.logbar{
	background-color: #5F528F;	
	width: 100%;
	height: 40px;
}

.logbar .buttons-container{
	float: right;
	margin-right: 50px;
}

.logbar .tiny-button-class{
	margin-right: 2px;
}

.buttons-container > ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.buttons-container > ul > li{
	float: left;
	margin: 0;
	padding: 0;
	height: 40px;
	line-height: 40px;
} 

