ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	overflow: hidden;
	position: relative;
	border-top-radius: 3px;
	-moz-border-radius-topright: 3px;
	-ms-border-top-radius: 3px;
	-webkit-border-top-radius: 3px;
	background-color: gray;
	margin-right: 2px;
	
}
ul.tabs li a {
	display: block;
	padding: 0 20px;
	outline: none;
	text-decoration: none;
	font-size: 16px;
	text-transform: capitalize;
	color: white;
	
}

ul.tabs li.active a {
	color:black;
}
ul.tabs li:hover {
	background: #525252;
}
 html ul.tabs li.active, html ul.tabs li.active li:hover  {
	background-color: #D4CAF9;
	font-weight: bold;
	color: black;
}

.tab_container {
	overflow: hidden;
	clear: both;
	width: 100%;
	padding: 5px;
}
.tab_content {
	padding: 20px;
}