*.loading-indicator {
	margin-left:auto;
	margin-bottom:auto;
	text-align:center;	
	
}
*.loading-indicator > *{
	margin: auto;
}

*.loading-indicator-overlay {
	background-color:#EEEEEE;
	border:1px solid #CCCCCC;
	height:10px;
	width:200px;
	position:fixed;
	margin-left:-100px;
	margin-top:-5px;
	left:50%;
	top:30%;	
	display:table;
	text-align:center;
}